

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<h1>Hello from "webapp" dir !!</h1>

<input type="button" value="/say/hello" class="say-hello">

<div class="result"></div>

<script type="text/javascript" src="index.js"></script>

<a href="/h2-console">H2 Console</a>
